<p>select-item works!</p>


<h2 style="text-align: center;">All  Item OF Shop </h2>



<div >
<table class = "selecttable">
    <thead>
        <tr>
            <th>{{KeyValue[0]}}</th>
            <th>{{KeyValue[1]}}</th> 
            <th>{{KeyValue[2]}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of body">
            
            <td>{{user.sugar}}</td>        
            <td>{{user.chai}}</td>
            <td>{{user.haldi}}</td>
            <td>  <button (click)="deleteShop(user.ShopId)" mat-flat-button color="accent">Delete Row</button></td>
        </tr>
    </tbody>
</table>
</div>

<br>
<br>
<br>
<br>
<label>Select ShopId and shop delete</label>
<!--select (change)="modo($event.target.value)">
<option *ngFor="let user of xy" 
    [selected]="user.ShopId == 'back'">{{user.ShopId}}</option>
</select-->


<br>
<br>
<div>
    <button (click) = "backToHome()">BackToHomepage</button>
</div>



